body * {
  margin: 0;
  padding: 0;
  font-family: 'Work Sans', sans-serif;
}

.nav-bar{
  background-color: #aa7530;
  min-height: 49px;
}

.nav-left-section > p {
  margin: 0;
  color: white;
  font-size: 14px;
}